<%- contentFor('body') %>
  <!-- Page Header -->
  <header class="masthead contain-img" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <!-- <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div> -->
          </div>
        </div>
      </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(let i = result.length - 1; i >= 0; i--){%>
          <div class="post-preview">
            <a href="/post/<%= i+1 %>">
              <h2 class="post-title">
                  <%= result[i].title %>
                </h2>
              <h3 class="post-subtitle">
                  <%= result[i].subheading %>
                </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">
                <%= result[i].author %>
              </a> on <%= result[i].date.toDateString() %></p>
          </div>
          <hr>
          <%}%>

            <!-- Pager -->
            <div class="clearfix">
              <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
      </div>
    </div>
  </div>
