<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= result.images[0].url %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= result.title %></h1>
          <h2 class="subheading">
            <%= result.subheading %>
          </h2>
          <span class="meta">Posted by
                <a href="#"><%= result.author %></a>
                on <%= result.date.toDateString() %></span>
          <br />
          <div id="editButton" class="text-center text-white"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <%for(let i = 0; i < result.body.length; i++){%>
            <%if(result.body[i].includes('insert image')){%>
              <% const imageIndex = result.body[i].replace(/[^\d.]/g, '') %>
              <%if(imageIndex < result.images.length){%>
              <div class="text-center">
                <a href="#">
                  <img class="img-fluid rounded" src="<%=result.images[imageIndex - 1].url%>" alt="postImage" height="400px" width="400px">
                </a>
                <span class="caption text-muted">
                  <%=result.heading%>
                </span>
              </div>
              <%}%>
            <%}%>
            <%if(result.body[i].includes('{') || result.body[i].includes('}')){%>
              <h3 class="section-heading h4">
                <% result.body[i] = result.body[i].replace('{', '') %>
                <% result.body[i] = result.body[i].replace('}', '') %>
                <%= result.body[i] %>
                <% result.body.splice(i, 1) %>
              </h3>
            <%}%>
            <%if(result.body[i].includes('<')){%>
              <blockquote class="blockquote">
                <% result.body[i] = result.body[i].replace('<', '') %>
                <% result.body[i] = result.body[i].replace('>', '') %>
                <%= result.body[i] %>
                <% result.body.splice(i, 1) %>
              </blockquote>
            <%}%>
            <%if(!result.body[i].includes('insert image')){%>
              <p>
                <%= result.body[i] %>
              </p>
            <%}%>
         <%}%>
      </div>
    </div>
  </div>
</article>
<br />
<div class="contain-button">
  <div style="max-height: 140vh; overflow: scroll;" class="card">
    <div class="container">
      <br />
      <div class="card-header bg-info text-white">
        <b> Comment Section </b>
      </div>

      <br />
      <div class="card-block">
        <h4 class="card-title">Comment</h4>
        <div class="form-group">
          <input type="text" class="form-control" id="commentUsername" aria-describedby="emailHelp" placeholder="username" />
          <br />
          <div class="form-group">
            <textarea placeholder="Write Comment" class="form-control" id="commentBox" rows="7"></textarea>
          </div>
        </div>
      </div>
      <button onclick="postComment()" type="button" class="btn btn-primary btn-block">Submit</button>
      <br />
      <br />
      <div id="allComments">

      </div>
    </div>
    <br/>
  </div>
</div>
